* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    text-align: center;
    font-weight: 700;
    word-break: break-word;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 230px;
    gap: 1.5rem;
}

section{
    padding: 1rem;
}
h2 {
    color: navy;
    text-align: left;
    grid-column: 1/3;
    margin-top: 1rem;
}

article p {
    text-align: justify;
}

.callout {
    border: 1px solid rgb(0 0 0 / 0.1);
    color: #000;
    background-color: #c9cff1;
    padding: 1rem;
    letter-spacing: 0.5px;
    grid-column: 1/3;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    padding: 5px 0.5rem 1.5rem;
}