h1{
    text-align: center;
}
 
main {
    width: 400px;
    margin:0 auto ;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    background: #000;
    animation: fade 15s;
    /* margin: 0 auto; */
}

@keyframes fade{
    0% {
        opacity: 0;
    }

    100% { 
        opacity: 1;
    }
}

footer{
    text-align: center;
}