* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Grid Layout */
body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
}

h1, h2 {
    padding: 0.8rem 1rem 2.5rem;
}

/* Navigation (Flexbox) */
.nav-menu {
    list-style: none;
    display: flex;
    background: black;
    justify-content: space-around;
    padding: 0.5rem;
}

.nav-menu a {
    color: whitesmoke;
    text-decoration: none;
}

/* Main Grid */
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* Section and Aside */
section {
    background: #8295a8;
}

aside {
    background: #76c2affa;
}

/* footer */
footer {
    background: #2c3e50;
    text-align: center;
    color: white;
    padding: 0.8rem 0rem 3.5rem;
}