* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Elms Sans", sans-serif;
    font-weight: 500;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #f4f4f4;
}

header {
    color: whitesmoke;
    background: #25497e;
}

h2, footer {
    color: whitesmoke;
    background: #25497e;
}

#course-title {
    margin: 1rem;
    display: inline-block;
    letter-spacing: 2px;
}

h1, header, h2, h3, footer {
    text-align: center;
}

.nav-menu {
    background: rgb(19, 18, 18);
    justify-content: space-between;
    display: flex; 
} 

@media (min-width: 640px) {
    .nav-menu {
        display: flex;
    }

    .nav-menu {
        flex: 1 0 auto;
    }
}

.nav-menu a {
    text-decoration: none;
    color: whitesmoke;
    margin: 0 2rem 0;
    padding: 0.5rem;
}

.nav-menu a:hover {
    text-decoration: overline;
    color: yellowgreen;
}

h1 {
    margin-top: 3%;
    font-weight: 500;
}

h2 {
    padding: 0.5rem;
    font-size: medium;
}

 main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    margin: 0 1.5rem 1rem;
}

main > h1 {
    grid-column: 1 / -1;
}

.card {
    border: 2px solid #246265;
    border-radius: 7px;
}

.card h2, h3 {
    margin-bottom: 5%;
}

h3 {
    border-bottom: 2px solid #003366;
    padding-bottom: 0.5rem;
    max-width: 60%;
    margin-top: 0%;
    margin-left: 5%;
}

.dev-nav {
    margin: 50% 15%;
}

.dev-nav li {
    margin-bottom: 0.5rem;
} 

.row-profile img {
    width: 120px;
    height: 180px;
    object-fit: cover;
    border: 3px solid rgb(56, 29, 29);
}

.row-profile p {
    margin-top: 2rem;
}

.row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.row-ghana {
    grid-template-columns: 1fr 2fr;
    max-width: 70%;
}

.row p {
    max-width: 100%;
}

figure {
    margin: 0;
    text-align: center;
}

figure > img {
    height: 120px;
    margin-top: 0.5rem;
}

figcaption {
    margin-top: 1.25rem;
}

footer {
    padding: 1.5rem;
}
