* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Elms Sans", sans-serif;
        font-weight: 500;
        min-height: 100vh;
        background-color: #f4f4f4;
}

header {
    position: relative;
    /* display: flex; */
    align-items: center;   /* vertical centering */
    justify-content: space-between; /* left + right alignment */
    min-height: 50px;      /* gives the header height */
}

#menu {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

header {
    background: #9e04c5;
    color: whitesmoke;
}

#site-title {
    margin: 1.5rem;
    display: inline-block;
    letter-spacing: 2px;
    font-size: x-large;
    font-weight: 800;
}

#menu::before {
    content: "☰";
    /* font-size: 1rem; */
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    background-color: #333;
    text-align: center;
    display: none;
    right: 0;
    top: 70%;
    float: right;
    z-index: 1000;
    /* padding: 0.8rem; */
}

.navigation a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0.5rem;
}

.navigation a:hover {
    color: #ffdd57;
    font-weight: 700;
}

/* When hamburger is clicked */
.navigation.open {
    display: flex;
}

h1, figcaption, footer {
    text-align: center;
}

h1 {
    margin-bottom: 0.2rem;
}

main {
    margin: 0 auto;
    padding: 1rem;
}

#temples section h2 {
    padding: 1.3rem;
}

#temples section img {
    width: 400px;       /* same as old images */
    height: 250px;      /* match old images exactly */
    object-fit: cover;      /* crops extra parts but keeps card uniform */
    display: block;
    margin: 0.8rem auto 15px;
    padding: 1rem 0;
    box-shadow: 0 0 15px rgba(158, 4, 197, 0.7);
}

#temples {
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: 1fr;
    display: grid;
    gap: 20px;
    text-align: center;
    margin: 2rem auto;
    max-width: 1200px;
}

#temples section {
    background-color: #b1abab;
}

footer {
    padding: 0.5rem;
    margin-top: 1.5rem;
    color: #FFFFFF;
    background: #73048f;
}



/* Larger screen */
@media screen and (min-width: 780px) {

    /* Hide Hamburger */
    #menu {
        display: none;
    }

    /*  Navigation horizontal & visible */
    .navigation {
        position: static;
        /* Nav re-enters normal document flow */
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
        background: none;
    }

    /* Header flexbox controls alignment and Nav is perfectly centered vertically */
    header {
        display: flex;
    }

    .navigation a {
        margin: 0 1.5rem 0 0;
    }

    #temples {
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
    }

    section {
        padding: 0 1rem;
        border: 2px solid rgba(127, 113, 131, 0.7);
    }

    #temples section img {
        width: 100%;
        padding: 0;
    }

}