* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Elms Sans", sans-serif;
        font-weight: 500;
        min-height: 100vh;
        background-color: #f4f4f4;
}

header {
    position: relative;
    /* display: flex; */
    align-items: center;   /* vertical centering */
    justify-content: space-between; /* left + right alignment */
    min-height: 50px;      /* gives the header height */
}

#menu {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

header, footer {
    background: #9e04c5;
    color: whitesmoke;
}

#site-title {
    margin: 1.5rem;
    display: inline-block;
    letter-spacing: 2px;
    font-size: x-large;
    font-weight: 800;
}

#menu::before {
    content: "☰";
    /* font-size: 1rem; */
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    background-color: #333;
    text-align: center;
    display: none;
    right: 0;
    top: 70%;
    float: right;
    z-index: 1000;
    /* padding: 0.8rem; */
}

.navigation a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0.5rem;
}

.navigation a:hover {
    color: #ffdd57;
    font-weight: 700;
}

/* When hamburger is clicked */
.navigation.open {
    display: flex;
}

h1, figcaption, footer {
    text-align: center;
}

h1 {
    margin-bottom: 0.2rem;
}

main {
    max-width: 640px;
    margin: 0 auto;
    padding: 1rem;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

figure img {
    width: 100%;
    height: auto;
    /* object-fit:scale-down; */
}

figcaption {
    margin-top: 0.3rem;
    font-size: 0.9rem;
}

footer {
    padding: 0.5rem;
}